/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
} */

html {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Verdana, sans-serif;

}

h4 {
    font-size: 16px;
}
/* .wrapper {
    max-width: 1280px;
    margin: 0 auto;
} */

.wrapper__header {
    max-width: 1280px;
    margin: 0 auto;
}

wrapper__book-cards {
    max-width: 1280px;
    margin: 0 auto;
}

wrapper__shopping-cart {
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper__checkout-form {
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper__footer {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    font-size: 1.6rem;
    color: antiquewhite;
    height: 100px;
    width: 100%;
    background: linear-gradient(45deg, #e66465, #9198e5);
}

.header__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__contents h1{
    color: lightgoldenrodyellow;
}

.logo__header {
    height: 50px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.header__nav__catalog {

}

.header__nav__shopping-cart {

}

.header__nav__chekout-form {

}

/* catalogue */

.book-cards {
    background-color: beige;
    padding: 20px 0;
}

.book-catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    max-width: 1280px;
    justify-content: space-between;
    margin: 0 auto;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 500px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: solid 1px gray;
    border-radius: 5px;
    cursor: move;
}

.book.dragging {
    opacity: 50%;
}

.book__shopping-cart {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: solid 1px gray;
    border-radius: 5px;
    cursor: move;
}

.book__image {
    width: 100%;
    border: 1px solid gray;
}

.title__box {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-self: flex-end; */
    height: 70px;
    margin-top: 10px;
}

.button__info {
    width: 150px;
    height: 30px;
    align-self: center;
    border-radius: 5px;
    border: 1px solid grey;
}

.button__add {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: green;
    align-self: center;
}

.button__close {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: #e66465;
    align-self: center;
    margin-top: 10px;
}

.button__close-round__box {
    display: flex;
    justify-content: flex-end;
}

.button__close-round {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid grey;
    background-color: white;
    align-self: center;
    margin-bottom: 10px;
}

.button__checkout {
    width: 200px;
    height: 30px;
    background-color: #540bda;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 20px 0;
}

.background-dim {
    display: none;
}

.background-dim.active {
    position: absolute;
    display: block;
    height: 1000%;
    width: 100%;
    background-color: #8a78ac;
    opacity: 80%;
    z-index: 10;
}

.book__pop-up {
    display: none;
}

.book__pop-up h4{
    margin-bottom: 10px;
}

.book__pop-up.active {
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 150px);
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 300px;
    padding: 10px;
    background-color: white;
    border: solid 1px #540bda;
    border-radius: 25px;
    z-index: 10;
}

/* shopping cart */

.shopping-cart {
    height: 100%;
    width: 100%;
    background-color:darksalmon;
    margin: 0 auto;
}

.shopping-cart__contents {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 0;
}

.shopping-cart__cart {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    border: dashed 5px red;
    border-radius: 30px;
    padding: 30px;
}

.shopping-cart__cart.active {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    border: dashed 5px red;
    border-radius: 30px;
    padding: 30px;
}

/* checkout form */
.checkout-form__layout {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px 0;
}

.checkout-form__layout.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px 0;
}

.form__fieldset {
    margin: 10px 0;
    padding: 10px;
}

.button__form-complete {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 20px 0;
}

input,
textarea {
    margin: 5px 0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:invalid,
select:invalid,
textarea:invalid {
    border-color: red;
}

/* foooter */

.footer {
    width: 100%;
    font-size: 16px;
    color: lightgoldenrodyellow;
    background: linear-gradient(45deg, #e66465, #9198e5);
}

.footer__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.rs-logo__footer {
    height: 30px;
}
